@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');

body {
    font-family: "Tajawal", sans-serif;
}

div#datatable_paginate {
    float: left !important;
}

.dataTables_length,
.dataTables_filter {
    display: none !important;
}

.app-search {
    margin-bottom: 1rem;
}

.customers .rating-stars {
    display: flex;
    align-items: center;
    gap: 4px;
}

.customers .rating-stars span {
    font-weight: 500;
}

.customers .dataTables_paginate .pagination {
    margin-bottom: 0;
}

.customers table th {
    background-color: #fff !important;
}

.customers table tr:nth-child(odd) {
    background-color: #F0F7FE !important;
}

.card {
    box-shadow: none !important;
}

.btn-overlay {
    background-color: #c4def9 !important;
    color: #356FDB;
    font-weight: bold;
}

.customers .search-box .form-control {
    height: 45px;
}

.customers .search-box .search-icons {
    position: absolute;
    right: 13px;
    top: 50%;
    transform: translateY(-50%);
    color: #74788d;
}

.customers .search-box .filter-icon {
    position: absolute;
    left: 13px;
    top: 50%;
    transform: translateY(-50%);
    color: #74788d;
    cursor: pointer;
}

.customers .search-box .filter-icon:hover {
    color: #556ee6;
}

.customers .search-box .form-control {
    padding-right: 40px;
    padding-left: 40px;
}

.customers .search-box .form-control {
    border-radius: 0 !important;
}

.table-search .search-icon {
    position: absolute;
    right: 13px;
    top: 50%;
    transform: translateY(-50%);
    color: #74788d;
}

.table-search .form-control {
    padding-right: 40px;
    padding-left: 15px;
    border: 1px solid #e2e5e8;
    border-radius: 4px;
    height: 38px;
}