#price-filter,
#service-filter,
#status-filter,
#date-filter {
    border-radius: 5px;
    height: 32px;
    width: 90px;
    background-color: #e8f6ff;
    color: #0079ff;
    border: transparent;
   
}