#price-filter,
#service-filter,
#status-filter,
#date-filter{
    border-radius: 5px;
    height: 32px;
    width: 120px;
    background-color: #e8f6ff;
    color: #0079ff;
    border: transparent;
   
}

#dataSelect {
    border-radius: 5px;
   padding-right: 5px;
    background-color: #e8f6ff;
    color: #0079ff;
    border: transparent;
}

.form-box {
    border-radius: 5px;
    padding-right: 5px;
    border: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
}


.form-1 {
    background-color: #bae2c3; 
    color: #47ad6c; 
}

.form-2 {
    background-color: #e8f6ff; 
    color: #0079ff; 
}

.form-3 {
    background-color: #f2e3b1; 
    color:  #fd9422; 
}

.form-4 {
    background-color: #f8d7da; 
    color: #db2626;
}

.dataTables_length label {
    display: flex !important;
    align-items: center;
    gap: 10px;
    margin-bottom: 30px;
}

.dataTables_length select {
    width: 10%;
}



.dataTables_paginate {
    display: flex;
    justify-content: end;
}
#datatable_filter label input {
    display: none !important;
}
