.toggle-container {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    font-weight: bold;
}

.toggle-switch {
    position: relative;
    width: 55px;
    height: 24px;
    background-color: rgb(194, 193, 193);
    border-radius: 15px;
    cursor: pointer;
    /* transition: background 0.3s; */
}

.toggle-switch::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
    top: 2px;
    left: 2px;
    transition: transform 0.3s;
}

.toggle-switch.active {
    background-color: #4ac34e;
}

.toggle-switch.active::before {
    transform: translateX(30px);
}

.modalFilter {
    border-radius: 5px;
    height: 38px;
    width: 190px;
    background-color: #e8f6ff;
    color: #0079ff;
    border: transparent;
    display: flex;
    justify-content: space-between;
   
}
.contentModal:hover {
  background-color: #F0F7FE;
  cursor: pointer;
}