@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*, html, body {
    font-family: "Inter",;
    font-style: normal;
    font-weight: 400;
    /* background: white !important; */
}

.simplebar-content, .simplebar-content-wrapper {
    height: 100% !important;
}

.metismenu{
    padding: 0 !important;
}

.card{
    border: 1px solid rgb(243, 239, 239) !important;
}

table tbody tr:nth-child(odd) {
    background-color: #F0F7FE !important;
}
.dataTables_length label {
    display: flex !important;
    align-items: center;
    gap: 10px;
    margin-bottom: 30px;
}

.dataTables_length select {
    width: 10%;
}

.dataTables_paginate {
    display: flex;
    justify-content: end;
}
#datatable_filter label input {
    display: none !important;
}
